{% extends "EvaluatorBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <div class="card-block text-nowrap">
            Curso: {{course.name}}
        </div>
    </div>

    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre Alumno</th>
                    {% for partial in partials %}
                    <th>
                        {{partial.name}}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>
                        {{student.name}}
                    </td>
                    {% for partial in partials %}
                        <td>
                            {#{{ include("EvaluatorBundle:Mark:grid_marks.html.twig" , { "idCourse": course.id, "idStudent": student.id, "idPartial": partial.id}) }}#}
                            {{ render(controller ( 'EvaluatorBundle:Mark:courseMarks' ,
                                 { 'idCourse': course.id, 'idStudent': student.id, 'idPartial': partial.id})) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="clearfix"></div>
{% endblock %}
