{% extends "EvaluatorBundle::layout.html.twig" %}

{% block content %}
    
         <nav class="navbar navbar-dark bg-seconry">
             <span class="nav navbar-nav">
                 Curso: {{course.name}}
             </span>
             <span class="nav navbar-nav float-md-right">
                 <a class="btn btn-secondary text-muted" href="{{path("evaluator_add_partial", {"id":course.id})}}" id="nuevoParcialBtn">Nuevo Parcial</a>
             </span>
         </nav>
             
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre Alumno</th>
                    {% for partial_no_final in partials_no_final %}
                    <th>
                        {{partial_no_final.name ~ ' (' ~ partial_no_final.weight ~ ')'}}
                        <a href="{{path("evaluator_delete_partial", {"idPartial":partial_no_final.id, "idCourse":course.id})}}"><img src="{{ asset('images/icon_delete_white.png') }}"></a>
                    </th>
                {% endfor %}
                {% for final in partial_final %}
                    <th>
                        {{final.name }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>
                        {{student.name}}
                    </td>
                    {% for partial_no_final in partials_no_final %}
                        {% for mark_no_final in marks_no_final %}
                            {% if mark_no_final.idPartial.id == partial_no_final.id  and  mark_no_final.idStudent.id == student.id %}
                                {% set idMarkCell = 'markCell'~mark_no_final.id %}
                                {% set idMark = mark_no_final.id %}
                                {% set markResult = mark_no_final.grade %}
                                {% set courseId = course.id%}
                                <td {{" contenteditable class = %s id = %s data-mark-id = %s data-original-mark = %s data-course-id = %s"|format("marklCell", idMarkCell, mark_no_final.id, mark_no_final.grade, courseId)}} >
                                    {{markResult}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
  
                    {% for final in partial_final %}
                        {% for mark_final in marks_final %}
                            {% if mark_final.idPartial.id == final.id  and  mark_final.idStudent.id == student.id %}
                                <td>
                                    {{mark_final.grade}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="clearfix"></div>
    <script>
        
    </script>

    
    
    
{% endblock %}

{% block javascripts %}
    <script>
        var celdas = document.getElementsByClassName("markCell"),
            i,
            count = celdas.length,
            markCleaning = function (p_mark){
                return Number(p_mark);
            },
            cellblurListener = function (e){
              var idCourse = e.target.dataset.courseId,
                  grade = markCleaning(e.target.innerHTML),
                  grade_before = e.target.dataset.originalMark,
                  url
            };        
                    
                    
                    
    /*
     * 
     * <td {{" contenteditable class = %s id = %s data-mark-id = %s data-original-mark = %s data-course-id = %s"|format("marklCell", idMarkCell, mark_no_final.id, mark_no_final.grade, courseId)}} >
                                    {{markResult}}
                                </td>var idCurso = "<?php echo $idCurso; ?>",
        celdas = document.getElementsByClassName("celdaNota"),
        i,
        cuenta = celdas.length,
	limpiarNota = function (p_nota) {
            return Number(p_nota);
	},
	celdaBlurListener = function (e) {
            var idCalificacion = e.target.dataset.calificacionId,
            nota = limpiarNota(e.target.innerHTML),
            nota_antes = e.target.dataset.notaOriginal,
            url = '../ajax.actualizarNota.php?idCalificacion=' + idCalificacion + '&nota=' + nota + '&notaAntes=' + nota_antes + '&idCurso=' + idCurso;

            if (nota !== nota_antes) {
                $.ajax(url);
            }
        };
		
        for (i = 0; i < cuenta; i++) {
            celdas[i].addEventListener("blur", celdaBlurListener, false);
   	}
*/
    </script>
{% endblock%}




	
